{{ define "admin_product_list"}}
{{template "header"}}

<main class="px-3">
  {{ range . }}
    <div class="alert alert-info product_card">
      <div class="d-flex justify-content-between align-items-stretch">

        <img class="card_img" width="200" height="200" src="/assets/images/prod/{{ .Id }}.png" alt="no image">

        <div class="d-flex justify-content-between  align-items-end flex-column">
          <div class="card_control_btn d-flex justify-content-end">
            <h4 class="m-0">{{ .Name }}&nbsp;</h4>
            <h4 class="m-0"> ({{ .Portion }}{{ .Unit }}={{ .Price }}$)</h4>
          </div>
          <form action="/basket/add" method="post">
            <input hidden type="text" value="{{ .Id }}" name="prod_id" id="prod_id">
            <input hidden type="text" value="{{ .Merch }}" name="merch" id="merch">
            <div class="btn-group contr_words control_btn">
              <a href="/admin/merchant/{{ .Merch }}/product/{{ .Id }}/delete" type="button" class="btn btn-sm btn-outline-secondary btn-danger">Del</a>
              <a href="/admin/merchant/{{ .Merch }}/product/{{ .Id }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/admin/merchant/{{ .Merch }}/product/{{ .Id }}/edit" type="button" class="btn btn-sm btn-warning">Edit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    {{ else }}
    <b>No data</b>
    {{ end }}
</main>
{{template "footer"}}
{{ end }}