{{ define "admin"}}
{{template "header"}}

<main class="px-3">
    <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <a class="nav-link btn btn-warning" href="/admin/merchants">show merchants</a>
    <a class="nav-link btn btn-info" href="/admin/merchant/create">create Merch</a><br>

    <a class="nav-link btn btn-info" href="/admin/orders">List orders<br></a>
    <a class="nav-link btn btn-info" href="/admin/users">List users<br></a>
    <a class="nav-link btn btn-info" href="/admin/courier">List Couriers<br></a>
    <a class="nav-link btn btn-info" href="/admin/admins">List Admins<br></a>
    <a class="nav-link btn btn-info" href="/admin/logs">Logs<br></a>
</main>
{{template "footer"}}
{{ end }}