{{ define "edit_prod"}}
{{template "header"}}
<main role="main" class="px-3">
  <b>Create</b>
  <div class="alert alert-info product_card">
    <form action="/admin/merchant/{{ .Merch }}/product/{{ .Id }}/edit" method="post" enctype="multipart/form-data">
      <h3>ID({{ .Id }})</h3>
      <input hidden type="text" name="prod_id" id="prod_id" class="form-control" value="{{ .Id }}"><br>
      <input type="text" name="title" id="title" class="form-control" value="{{ .Name }}" placeholder="title"><br>
      <input type="text" name="price" id="price" class="form-control" value="{{ .Price }}" placeholder="price"><br>
      <input type="text" name="merch" id="merch" class="form-control" value="{{ .Merch }}" placeholder="merch"><br>
      <input type="text" name="category" id="category" class="form-control" value="{{ .Category }}" placeholder="category"><br>
      <input type="text" name="portion" id="portion" class="form-control" value="{{ .Portion }}" placeholder="portion"><br>
      <input type="text" name="unit" id="unit" class="form-control" value="{{ .Unit }}" placeholder="unit">
      <img class="card_img" width="200" height="200" src="/assets/images/prod/{{ .Id }}.png" alt="no image">
      <input type="file" name="image" id="image" class="form-control">
      <textarea name="anons" id="anons" class="form-control" placeholder="anons">{{ .Anons }}</textarea>
      <button class="btn btn-warning">add</button>
    </form>
  </div>
</main>
{{template "footer"}}
{{ end }}