{{ define "header"}}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <link href="https://getbootstrap.com/docs/5.1/examples/cover/cover.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/css/card.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Delivery</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/merchant/allmerchants">Все</a>
        <a class="nav-link" href="/merchant/public_catering">Еда</a>
        <a class="nav-link" href="/merchant/grocery_stores">Продукты</a>
        <a class="nav-link" href="/merchant/pharmacies">Аптеки</a>
        <a class="nav-link" href="/merchant/household_stores">Техника</a>
        <a class="nav-link" href="/merchant/transfer">Transfer</a>
        <a class="nav-link" href="/admin/">A</a>
        <a class="nav-link" href="/basket">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg></a>
      </nav>
    </div>
  </header>

{{ end }}